<div class="c-page-header">
  <h1 class="c-page-header__title">{{hbsObject.pageData.header.headerTitle}}</h1>
  <div class="c-page-header__desc">
    <p>{{hbsObject.pageData.header.headerDescription}}</p>
  </div>
</div>
