<main role="main">
  <div class="l-container">
    {{> styleguide-template-general/c-page-header}}
    <!-- end c-page-header -->
    <div class="l-linelength-container">
      <div class="c-text-passage">
        <p>The homepage of a style guide should provide high-level information around what the design system is, what benefits it provides, who it’s for, and how to get started with it. Like any good index page, it should provide clear navigation to key parts of the website.</p>
        <div class="u-margin-bottom-double"><a href="/style-guide-guide/getting-started.html" class="c-btn">Get Started</a></div>
        <h2 id="design-system-benefits">Design System Benefits</h2>
        <p>Explain how the design system benefits users and the business. For inspiration, check out over 180 examples of design systems at <a href="http://styleguides.io/examples">Styleguides.io</a>.
          tivizes teams to use the system, and shows components in the wild.
        </p>
        <h2 id="contributing-info">Contributing info</h2>
        <p>If it’s desirable to have people from across the organization contribute to the design system, linking to the <a href="/style-guide-guide/contributing.html">contributing page</a> from the homepage could be a good idea.</p>
      </div>
      <!--end c-text-passage-->
    </div>
    <!--l-linelength-container-->
  </div>
  <!--end l-container-->
</main>
