<main role="main">
<div class="l-container">
  {{> styleguide-template-general/c-page-component-header}}
  <div class="site-layout site-layout--primary">
    <div class="site-layout__stage" id="siteStageContainer">
    <main class="site-stage">
      <div class="container">
      <section class="template template--fullwidth">
        <div class="template__primary">
          <div class="flex-space-apart flex-layout-2col">
            <!-- Alerts -->
            {{> components/alert}}
            <!-- End Alerts -->
          </div>
        </div>
      </section>
      </div>
    </main>
    </div>
  </div>
</div>
</main>
